@font-face {
    src: url(../assets/fonts/RobotoMono-VariableFont_wght.ttf);
    font-family: rbt;
}

* {
    /* box-sizing: border-box; */
    font-family: rbt;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    padding: 0;
    margin: 0;
}

#home, #about, #api {
    padding: 10px;
    margin: 10px;
    height: 100vh;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

#logo {
    color: #ccc;
    font-weight: 100;
    font-size: 24px;
    display: flex;
    align-items: center;
}

#logo img {
    width: 40px;
    height: 40px;
}

nav a:nth-child(1) {
    border-bottom-color: #1a73eb;
}

nav a {
    padding: 5px 0;
    border-bottom: 1px solid #00000000;
    transition: .4s ease;
}

nav a:hover {
    border-bottom-color: #1a73eb;
}

#app {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    margin: auto;
}

#app form {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
}

#app form #input {
    width: 540px;
    border: 1px solid #eee;
    display: flex;
}

select, input, button {
    padding: 5px;
    border: 1px solid #eee;
    outline: none;
}

form select {
    width: 115px;
}

form input {
    flex: 1;
    color: #666;
}

form input:focus {
    border-color: #000;
}

form button {
    width: 50px;
    background-color: #000;
    background-color: #1a73eb;
    border-color: #1a73eb;
    color: #fff;
    cursor: pointer;
}

#radio {
    width: fit-content;
    margin: 5px auto;
}

#radio input, label {
    cursor: pointer;
    font-size: 12px;
}

#app #msg {
    min-height: 100px;
    width: 540px;
    color: #888;
    font-size: 14px;
    word-break: break-all;
    text-align: center;
}

#app #code {
    display: flex;
    justify-content: center;
}

#app #code input {
    flex: 0.05;
    margin: 5px 5px;
    text-align: center;
}

h2 {
    width: fit-content;
    border-bottom: 1px solid #000;
}

#btn-gotop {
	width: 40px;
	height: 40px;
	background-color: #fff;
	display: flex;
	border-radius: 100%;
	box-shadow: 0 0 2px 4px #eee;
	position: fixed;
	justify-content: center;
	align-items: center;
	right: 0;
	bottom: 0;
	margin: 10px;
	cursor: pointer; 
	color: #666;
	transform: scale(0);
	transition: .3s ease;
}

pre {
    background-color: #fcfcfc;
    border-radius: 10px;
    padding: 10px;
}

@media screen and (max-width: 414px) {
    #about, #api {
        display: none;
    }
    
    #header {
        flex-direction: column;
    }

    #app form #input {
        width: 100%;
    }

    form select {
        width: 80px;
    }
    
    form #input input {
        width: 100%;
    }
    
    form button {
        width: 30px;
        
    }

    #app #msg {
        width: 90%;
        padding: 10px;
    }
    
}